.dock-container:hover {
    transition: height 0.5s ease-in-out;
    height: 72px;
}
.dock-container {
    transition: height 0.5s ease-in-out;
    height: 10px;
}
.dock-container:hover > .dock-apps {
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}


.dock-apps {
    transition: all 0.5s ease-in-out;
    transform: translateY(200%);
}
